.item-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

@media (max-width: 1440px)  {
  .item-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 768px)  {
  .item-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 425px)  {
  .item-list {
    grid-template-columns: 1fr;
  }
}
