.team-card__image {
  padding: 20px 0;
}
.team-card__image {
  height: 100px;
  text-align: center;
  margin-bottom: 15px;
}

.team-card__image img {
  height: 100%;
}

.team-card__title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
